@import '~@/styles/scss/partials/variables';

.Nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  li a {
    text-decoration: none;
    margin: 1rem;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $white;
    }
  }
}
