@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Image {
  height: 200px;
  width: 200px;
}
