@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import '~@/styles/css/normalize.min.css';
@import './partials/variables';

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: $black;
  color: $white;
}
